<div class="container">
    <h2>User Settings</h2>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">

        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" class="form-control" placeholder="Enter name here"
                [(ngModel)]="userSettings.name" required #nameField="ngModel" (blur)="onBlur(nameField)"
                [class.ax-field-error]="form.submitted && nameField.invalid" />
            <div class="alert alert-danger" [hidden]="!form.submitted || nameField.valid">Enter a name</div>
        </div>

        <button type="button" class="btn btn-primary" [(ngModel)]="singleModel" name="singleModel" btnCheckbox
            btnCheckboxTrue="On" btnCheckboxFalse="Off">
            {{ singleModel }}
        </button>
        <!-- debugging
        <h3>dirty: {{ propertyTest.dirty }}</h3>
        <h3>pristine: {{ propertyTest.pristine }}</h3>
        <h3>touched: {{ propertyTest.touched }}</h3>
        <h3>untouched: {{ propertyTest.untouched }}</h3>
        <h3>valid: {{ propertyTest.valid }}</h3>
        <h3>invalid: {{ propertyTest.invalid }}</h3> -->

        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="text" name="startDate" id="startDate" class="form-control"
            [(ngModel)]="startDate"
            bsDatepicker>
        </div>
        Start Date: {{ startDate }}

        <div class="form-check form-group">
            <input type="checkbox" class="form-check-input" id="emailOffers" name="emailOffers"
                [(ngModel)]="userSettings.emailOffers" />
            <label for="emailOffers" class="form-check-label">
                Email Special Offers
            </label>
        </div>

        <p>User Interface Style</p>
        <div class="btn-group">
            <label class="btn btn-success" [(ngModel)]="userSettings.interfaceStyle" btnRadio="light" tabindex="0"
                role="button" name="interfaceStyle">Light</label>
            <label class="btn btn-warning" [(ngModel)]="userSettings.interfaceStyle" btnRadio="medium" tabindex="0"
                role="button" name="interfaceStyle">Medium</label>
            <label class="btn btn-danger" [(ngModel)]="userSettings.interfaceStyle" btnRadio="dark" tabindex="0"
                role="button" name="interfaceStyle">Dark</label>
        </div>
        <!-- <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="interfaceStyle" id="lightInterface" value="light"
                    checked [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="lightInterface">
                    Light
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="interfaceStyle" id="mediumInterface" value="medium"
                    [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="mediumInterface">
                    Medium
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="interfaceStyle" id="darkInterface" value="dark"
                    [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="darkInterface">
                    Dark
                </label>
            </div>
        </div> -->

        <div class="form-group">
            <label for="subscriptionType">Subscription Type</label>
            <select class="form-control" id="subscriptionType" name="subscriptionType"
                [(ngModel)]="userSettings.subscriptionType">
                <option *ngFor='let type of subscriptionTypes | async'> {{ type }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea name="notes" id="notes" rows="3" class="form-control" [(ngModel)]="userSettings.notes"></textarea>
        </div>

        <!-- dont need, was testing
            
            <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" />
        </div>

        <div class="form-group">
            <label for="testing">Testing</label>
            <input type="email" name="testing" id="testing" class="form-control" />
        </div> -->

        <div [hidden]="!postError" class="alert alert-danger">
            {{ postErrorMessage }}
        </div>
        <button class="btn btn-primary">OK</button>
    </form>
</div>

<h3>
    {{ userSettings | json }}
</h3>